!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title <%= options[:app_name] %>
    = stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/<%= options[:theme] %>/style", :cache => true
  %body
    #container
      #header
        %h1
          = link_to <%= options[:app_name] %>, root_path
        #user-navigation
          %ul.wat-cf
            %li
              = link_to "#" do
                = t "web-app-theme.profile", :default => "Profile"
            %li
              = link_to "#" do
                = t "web-app-theme.settings", :default => "Settings"
            %li
              = link_to "/logout", :class => "logout" do
                = t "web-app-theme.logout", :default => "Logout"
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            .message{ :class => type.to_s }
              %p
                = message
        #main
          = yield
          #footer
            .block
              %p
                Copyright ©
                = Time.now.year
                Your Site.
        #sidebar
          = yield :sidebar